.appContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.upperSection {
    display: flex; 
    flex: 1;
    min-height: 0;
    overflow: hidden;

}

.configPanel{
    display: flex;
    flex: 1;
    padding: 1.5rem;
    border-right: 1px solid #dee2e6;
    flex-shrink: 0; 
    min-width: 250px;
}

.previewArea{
    display: flex;
    flex: 3;
    padding: 1.5rem;
    flex-shrink: 0; 
}

.controlsBar {
    display: flex;
    align-items: center;
    border-top: 1px solid #1a252f;
    padding: 1.5rem;
    flex-shrink: 0; 
}

