.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.upper-section {
    display: flex; 
    flex: 2;
    min-height: 0;
    overflow: hidden;

}

.config-panel{
    display: flex;
    flex: 1;
    padding: 1.5rem;
    border-right: 1px solid #dee2e6;
    flex-shrink: 0; 
    min-width: 250px;
}

.preview-area{
    display: flex;
    flex: 3;
    padding: 1.5rem;
    flex-shrink: 0; 
}

.controls-bar {
    display: flex;
    flex: 1;
    align-items: center;
    border-top: 1px solid #1a252f;
    padding: 1.5rem;
    min-height: 140px;
    max-height: 160px;
    flex-shrink: 0; 
}


